
<div class="flexible-container">
	<div class="page-content">
		<div class="content"
				 scrollSpy
				 spyElementName=".spy"
				>
			<div class="welcome-block">
				<h1>Welcome to rdpctd.dev!</h1>

				<p>
					<span class="what-is">
						What is
							<span class="site-name">
								Reactive
								<b class="red-cursive">Deprecated</b>
							</span>
					</span>

					<span class="about-text spy">
						For simplifying the opus, i write this words: <br>
						<br>
						<b>All technologies which we will uses everyday can be deprecated, but not died in time</b>
					</span>


				</p>
				<div class="magnum-opus">
						<p class="text-block">
							In the world of technology, constant evolution is a given. However, as soon as new technologies emerge, they begin the process of becoming obsolete. At Reactive Deprecated, we delve into this phenomenon, analyzing the lifecycle of technologies and exploring how quickly they become outdated.
						</p>
						<p class="text-block">
							Here, you'll find up-to-date reviews, analytical articles, and expert opinions on the latest developments that have just entered the tech scene but are already facing the inevitability of obsolescence. We offer deep insights into why technologies lose their relevance and how this impacts developers, businesses, and end users.
						</p>
						<p class="text-block">
							Join our community to stay informed about the latest trends and shifts in the tech world. Together, we'll explore how to effectively use new tools and platforms despite their rapid obsolescence.
						</p>
						<p class="text-block thanks">
							Thank you for visiting us.
						</p>
						<p class="text-block">
							Let's explore and understand the tech world in its relentless pursuit of renewal and transformation.
						</p>
					</div>
			</div>

			<div class="dev-team spy">

				<h2>Core Team: </h2>

			<div class="core-team">


				<div class="developer">
					<tui-avatar
						class="avatar"
						text="Me"
					></tui-avatar>

					<div class="text">
						Egor K.(Me)
					</div>
				</div>

				<div class="developer">
					<tui-avatar
						class="avatar"
						text="You"
					></tui-avatar>

					<div class="text">
						You
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>