@use '@app/styles/media';

.page-content {
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
}

.welcome-block {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.1;
  word-spacing: 0.1rem;
  color: var(--text-color);

  h1 {
    font-size: 2.5rem;

    @media #{media.$mobile} {
      font-size: 1.3rem;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;

    @media #{media.$mobile} {
      font-size: 1rem;
    }
  }

  .site-name {
    font-size: 2rem;
    color: #ff6347;

    @media #{media.$mobile} {
      font-size: 1.5rem;
    }
  }

  .about-text {
    margin-top: 1rem;
    font-size: 1.1rem;
    

    @media #{media.$mobile} {
      font-size: 1rem;
    }
  }
}

.magnum-opus {
  p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1rem;

    @media #{media.$mobile} {
      font-size: 1rem;
    }
  }

  .thanks {
    font-size: 1.2rem;
    color: #ff6347;
    text-align: center;
    margin-top: 2rem;

    @media #{media.$mobile} {
      font-size: 1rem;
    }
  }
}

.dev-team {
  text-align: center;
  margin-top: 3rem;

  h2 {
    font-size: 2rem;
   
    @media #{media.$mobile} {
      font-size: 1.5rem;
    }
  }

  .core-team {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;

    @media #{media.$mobile} {
      flex-direction: column;
    }

    .developer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .text {
        margin-top: 0.5rem;
        font-size: 1.1rem;

        @media #{media.$mobile} {
          font-size: 1rem;
        }
      }
    }
  }
}
