<div class="flexible-container">
  <div class="page-content">
    <div
	class="content" 
	appScrollSpy 
	spyElementName=".spy"
	>
      <section class="welcome-block">
        <h1>Добро пожаловать на rdpctd.dev!</h1>
			</section>

			<tui-scrollbar>

				<div class="development-stages">
						@for(stage of devStages(); track $index) {
							<site-progress-card
								[name]="stage.name"
								[image]="stage.image"
								[isActive]="stage.isChecked"
								[showStep]="true"s
							></site-progress-card>
						}

				</div>
			</tui-scrollbar>



			<section class="some">
				In next time i will starting the realise other content for this site. please wait
			</section>
    </div>
  </div>
</div>
