@import 'styles/colors';

.jumbortrom {
	width: 100%;
	margin-bottom: 0.1rem;
	padding: 0.7rem 3rem;
	background: $material-gray-background;
	color: $material-text-black;
	font-size: 1.5rem;
	line-height: 1.3;
	text-align: center;
}

.jumbortrom-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem 2rem;
	background: $material-text-link-background;
	color: $material-text-link-color;
}