@use "@app/styles/media.scss";

:host {
  display: block;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 10px;

  &.translucent {
    background: none;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 3px white;
  }

  &.colored {
    background: var(--header-bg);
    color: white;

    a {
      color: white;
    }
  }

}

.header {
  display: flex;
  width: 100%;


}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.menu {
  ul {
    display: flex;
      gap: 1rem;
    li {
    }
  }

  @media #{media.$mobile}, #{media.$tablet} {
    display: none;
  }
}

a {
  color: var(--text-color);
}

.mobile-menu {
  display: none;

  @media #{media.$mobile}, #{media.$tablet} {
    display: block;
  }
}

audio {
  @media #{media.$mobile}, #{media.$tablet} {
    display: flex;
    margin-top: auto;
    max-width: 17rem;
  }
}


.theme {
  display: none;

  @media #{media.$mobile}, #{media.$tablet} {
    display: block;
  }
}
