<div class="header">
  <div class="normal">
    <div class="row">
      <div class="mobile-menu">
        <app-drawer-menu [content]="drawer" [menuTitle]="'Reactive Deprecated'"></app-drawer-menu>
      </div>
      <app-theme-changer class="theme"></app-theme-changer>
      <div class="logo">LOGO</div>
      <div class="menu">
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active">To home page</a>
          </li>
          <li class="counter">
             {{ count | async | plural : 'day' : 'days' }} is out
          </li>
          <li>
            <app-theme-changer></app-theme-changer>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #drawer>
  <div class="drawer-menu">
    @for (route of routes(); track $index) {
      <a appLinkExpandable appearance="full-width" [link]="route"></a>
    }
  </div>

  <audio  controls>
    <source src="https://cdn.rdpctd.dev/assets/audio/1.mp3" type="audio/mp3" />
  </audio>


</ng-template>
