@use '@app/styles/media.scss';

:host {
	position: fixed;
	z-index: 10;
	display: block;
	width: 100%;
	padding: 10px;

	&.translucent {
		background: none;
		backdrop-filter: blur(10px);
		box-shadow: 1px 1px 3px white;
	}

	&.colored {
		background: var(--header-bg);
		color: white;

		a {
			color: white;
		}
	}
}

.header {
	display: flex;
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.menu {
	@media #{media.$mobile}, #{media.$tablet} {
		display: none;
	}

	ul {
		display: flex;
		gap: 1rem;
	}
}

a:not(.drawer-menu) {
	color: var(--text-color);
}

.mobile-menu {
	display: none;

	@media #{media.$mobile}, #{media.$tablet} {
		display: block;
	}
}

audio {
	@media #{media.$mobile}, #{media.$tablet} {
		display: flex;
		max-width: 17rem;
		margin-top: auto;
	}
}

.theme {
	display: none;

	@media #{media.$mobile}, #{media.$tablet} {
		display: block;
	}
}

app-icon {
	--icon-width: 2rem;
	color: white;
}

.drop-down-menu {
	width: max-content;

	[appLink] {
		font-size: 0.7rem;
	}
}
