<div class="header">
	<div class="normal">
		<div class="row">
			<div class="mobile-menu">
				<app-drawer-menu [content]="drawer" [menuTitle]="'Reactive Deprecated'" [icon]="'drawer'"></app-drawer-menu>
			</div>
			<app-theme-changer class="theme"></app-theme-changer>
			<div class="logo"><app-icon [iconName]="'logo'"></app-icon></div>
			<div class="menu">
				<ul>
					<li>
						<a
							[routerLink]="'/'"
							[routerLinkActive]="'active'"
							appLink
							[icon]="'home'"
							[routerLinkActiveOptions]="{ exact: true }"
							>Home</a
						>
					</li>
					<li>
						<a
							appLinkWithDropDown
							[dropdown]="dropdownGamesTemplate"
							routerLinkActive="active"
							routerLink="/games"
							icon="game"
							>Games</a
						>
					</li>
					@if(count | async; as number) {

					<li class="counter">{{ number | plural : 'day' : 'days' }} is out</li>
					}
					<li>
						<app-theme-changer></app-theme-changer>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<ng-template #dropdownGamesTemplate>
	<div class="drop-down-menu">
		<a appLink>Adventures / RPG</a>
	</div>
</ng-template>

<ng-template #drawer>
	<div class="drawer-menu">
		@for (route of drawerNavigation(); track $index) {
		<a appLinkExpandable appearance="full-width" class="jumbotron-link" [link]="route"></a>
		}
	</div>

	<audio controls>
		<source src="https://cdn.rdpctd.dev/assets/audio/1.mp3" type="audio/mp3" />
	</audio>

	<div class="version">
		<app-version></app-version>
	</div>
</ng-template>
