@if (dropdownItem()?.children) {
	<a
		class="link"
		tuiLink
		tuiDropdownHover
		[tuiDropdown]="dropDown"
		[iconEnd]="dropdownItem()?.icon ?? ''"
		[routerLink]="dropdownItem()?.routerLink ?? ''"
	>
		{{dropdownItem()?.title}}
	</a>
>


	<ng-template #dropDown>
		<ul>
			@for (item of dropdownItem()?.children; track $index) {
				<li>
					<a
						tuiLink
						[routerLink]="item.routerLink"
						[iconStart]="item?.icon ?? ''"
					>
						{{ item.title }}
					</a>
				</li>
			}
		</ul>
	</ng-template>
} @else {
	<a
		class="link"
		tuiLink
		[iconStart]="dropdownItem()?.icon ?? ''"
		[routerLink]="dropdownItem()?.routerLink ?? ''"
	>
		{{dropdownItem()?.title}}
	</a>
}
