:host {
  display: block;
  width: 100%;
  padding: 1rem 0.7rem;
  border-bottom: 1px solid white;
  overflow: scroll;
  position: static;
}

.menu {
  display: flex;
  gap: 1rem;
  position: sticky;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  z-index: 1;

  li {
    .active {
      color: white;
    }
  }

  a {
    color: darkgray;

    &:hover {
      color: white;
    }

  }
}

