@import 'comtainers';

*:after,
*:before,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;

	.active {
		border-bottom: 2px solid;
	}
}

a {
	position: relative;
	color: black;
	text-decoration: none;
	transition: all 0.3s;

	&:after,
	&:before {
		content: '';
		position: absolute;
		top: 100%;
		display: flex;
		width: 0;
		height: 3px;
		transition: width 0.2s;
	}

	&:after {
		right: 0;
		background: #e88989;
	}

	&:before {
		left: 0;
		background: #5f5bee;
	}

	&:hover {
		&:after,
		&:before {
			width: 50%;
		}
	}
}

.example-block:not(.tab) {
	padding: 0.5rem 1rem;
	background: var(--examples-bg);
	color: var(--text-color);
}

.doc-heading {
	display: flex;
	justify-content: center;
	margin: 0.4rem 0;
	color: var(--text-color);
	font-size: 1.8rem;
	text-align: center;
}

.doc-content {
	max-width: 900px;
	margin: 0 auto;
	padding: 0.8rem;
}

.doc-paragraph {
	margin: 0.4rem 0;
	font-size: 0.9rem;
}
