@import 'comtainers';
@import '@app/styles/animations.scss';

*:after,
*:before,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;

	.active {
		border-bottom: 2px solid;
	}
}

a:not(.dropdown-menu) {
	@include underline-animation(2px, 0.3s);
	position: relative;
	color: black;
	text-decoration: none;
}

.example-block:not(.tab) {
	padding: 0.5rem 1rem;
	background: var(--examples-bg);
	color: var(--text-color);
}

.doc-heading {
	display: flex;
	justify-content: center;
	margin: 0.4rem 0;
	color: var(--text-color);
	font-size: 1.8rem;
	text-align: center;
}

.doc-content {
	max-width: 900px;
	margin: 0 auto;
	padding: 0.8rem;
}

.doc-paragraph {
	margin: 0.4rem 0;
	font-size: 0.9rem;
}

.drop-down-menu {
	a {
		&:after {
			display: none;
		}
	}
}
