@import "comtainers";

*:after, *:before, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;

  .active {
    border-bottom: 2px solid;
  }
}

a {
  position: relative;
  color: black;
  transition: all .3s;
  text-decoration: none;

  &:after, &:before {
    top: 100%;
    width: 0;
    position: absolute;
    display: flex;
    content: "";
    height: 3px;
    transition: width .2s;
  }

  &:after {
    background: #e88989;
    right: 0;
  }

  &:before {
    background: #5f5bee;
    left: 0;
  }



  &:hover {
      &:after, &:before {
        width: 50%;
      }
  }
}


