@import 'reset';
@import '@app/styles.scss';
@import 'prismjs/plugins/toolbar/prism-toolbar.css';
@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';

:root {
	--theme-select-bg: #f5f5f5;
	--body-color: #f9f9f9;
	--text-color: #191921;
	--header-bg: #0c3293;
	--theme-switcher-color: #fff;
	--doc-page-devider: #181819;
	--examples-bg: #717171;
	--dropdown-bg: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] {
	--body-color: #181819;
	--text-color: #fff;
	--theme-select-bg: #f5f5f5;
	--theme-switcher-color: #0c3293;
	--doc-page-devider: #fff;
	--examples-bg: #1d1d1e;
	--dropdown-bg: rgba(255, 255, 255, 0.5);
}

.counter {
	max-width: 12rem;
	height: 1.56rem;
	padding: 0.1rem 0.5rem;
	border-radius: 0.3rem;
	background: #032341;
	color: #f4f4f4;
}

body {
	background: var(--body-color);
	color: var(--text-color);
}
