<div class="docs-page">
	<div class="sidebar">
		<a
			appLink
			class="doc-link"
			[routerLink]="['', { outlets: { docs: ['docs', 'precision'] } }]"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{ exact: true }"
			>Precision</a
		>
		<div class="home-and-theme-change">
			<a appLink icon="go-back" routerLink="/"></a>
			@if(themeSubj | async; as theme) {
			<app-icon [iconName]="theme === 'dark' ? 'light' : 'dark'" (click)="changeTheme()"> </app-icon>
			}
		</div>
	</div>
	<div class="docs-header">
		<div class="component">
			{{ routeData()?.component }}
		</div>
		<div class="label package" [class.deprecated]="routeData()?.deprecated">
			{{ routeData()?.package }}
		</div>
		@if(routeData()?.deprecated) {
		<div class="label deprecated">deprecated</div>
		}@if(routeData()?.experimental) {
		<div class="label experimental">experimental</div>
		}
	</div>
	<div class="docs doc-content">
		<ng-content></ng-content>
	</div>
</div>
