@use "@app/styles/media";


:host {
  display: block;
  width: 100%;
  position: sticky;
  top: 0;
}

.header {
  backdrop-filter: blur(10px);
  width: 100%;
  border-bottom: 1px solid var(--text-color);
  font-family: 'Playwrite GB S';
  padding: 5px 1rem;
  position: sticky;
  top: 0;

  @media #{media.$mobile} {
    padding: 5px 0.3rem;
  }
}

.row {
  display: flex;
  color: var(--text-color);
  align-items: center;
  justify-content: space-between;

  .menu {
    color: var(--text-color);
    margin-left: auto;
    align-items: center;
  }

  .mobile-buttons {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 0.3;

    .theme-changer{
      color: var(--text-color);
    }

  }

  @media #{media.$mobile} {
    .counter {
      display: none;
    }

    .menu {
      display: none;
    }
  }
}


.drawer-link {
  padding: 0.4rem 0;
  margin-top: 0.3rem;
  width: 100%;
  justify-content: center;
  background: darkgrey;
  text-align: center;
}

.drawer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  gap: 1rem;

  .links {
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .counter {
    display: flex;
    margin-top: auto;
  }
}

.expanded-content {
  background: #a0a09b;
  color: var(--text-color);
}

.sub-link {
  padding: 0.4rem 0;
}

.theme-changer {
  color: black;
}
