@use "@app/styles/media";


:host {
  display: block;
  width: 100%;
  color: var(--text-color);
  margin-bottom: 5rem;
 
}

app-icon {
  color: var(--text-color);
  width: 1rem;
  height: 1rem;
}

.mobile-buttons {
  display: none;
  transition: .3s;
  cursor: pointer;
  color: var(--text-color);

  ::ng-deep app-drawer-menu {
    width: 20px;
    color: var(--text-color);
  }

  &:hover {
    color: darkgrey;
  }

  @media #{media.$mobile}, #{media.$tablet} {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
    align-items: center;
  }
}


.header {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 0.7rem;
  box-shadow: 0 1px var(--border-bottom-color);
  color: var(--text-color);

}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 10rem;
  font-family: 'Playwrite GB+S', cursive;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
  transition: .25s ease-in-out;

  &:hover {
    color: gray;
  }
}

.menu {
  display: flex;
  gap: 1rem;
  color: var(--text-color);

  @media #{media.$mobile} {
    display: none;
  }
}



.drawer-link {
  padding: 0.4rem 0;
  margin-top: 0.3rem;
  width: 100%;
  justify-content: center;
  background: darkgrey;
  text-align: center;
}

.drawer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  gap: 1rem;

  .links {
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .counter {
    display: flex;
    margin-top: auto;
  }
}

.expanded-content {
  background: #a0a09b;
  color: var(--text-color);
}

.sub-link {
  padding: 0.4rem 0;
}

.theme-changer {
  color: black;
}