.footer {
  border-top: solid white 1px;
  padding: 1rem 0;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.created-with {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.2rem;
}

.site-name {
  font-family: 'Playwrite GB+S', cursive;
  font-size: 1.3rem;
}