@use "@app/styles/media.scss";

.footer {
  border-top: solid white 1px;
  padding: 1rem 0;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media #{media.$mobile} {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.4rem;
  }
}

.created-with {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.2rem;
}

.site-name {
  font-family: 'Playwrite GB+S', cursive;
  font-size: 1.3rem;
}